services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: jobportal
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENERS: 'PLAINTEXT://0.0.0.0:9092'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://kafka:9092'
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    ports:
      - "9092:9092"
    depends_on:
      - zookeeper

  frontend:
    build:
      context: ./frontend
      args:
        - HTTP_PROXY=http://http.docker.internal:3128
        - HTTPS_PROXY=http://http.docker.internal:3128
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
    depends_on:
      - auth
      - user
      - job
      - payment

  auth:
    build: ./services/auth
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - DB_URL=postgres://postgres:postgres@postgres:5432/jobportal
      - Redis_url=redis://redis:6379
      - Kafka_Broker=kafka:9092
      - Frontend_Url=http://localhost:3000
    depends_on:
      - postgres
      - redis
      - kafka

  user:
    build: ./services/user
    ports:
      - "5002:5002"
    environment:
      - PORT=5002
      - DB_URL=postgres://postgres:postgres@postgres:5432/jobportal
    depends_on:
      - postgres

  job:
    build: ./services/job
    ports:
      - "5003:5003"
    environment:
      - PORT=5003
      - DB_URL=postgres://postgres:postgres@postgres:5432/jobportal
      - Kafka_Broker=kafka:9092
    depends_on:
      - postgres
      - kafka

  payment:
    build: ./services/payment
    ports:
      - "5004:5004"
    environment:
      - PORT=5004
      - DB_URL=postgres://postgres:postgres@postgres:5432/jobportal
    depends_on:
      - postgres

volumes:
  pgdata:
    driver: local
